{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ku-Polls</title>
</head>
<body>
    <div class="nav_bar">
        <h1>Ku-Polls</h1>
        <div class="nav_right">
            {% if user.is_authenticated %}
                <p>Welcome back, {{ user.username }}</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="log_button">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}?next={{request.path}}" class="log_button">Log in</a>
            {% endif %}
        </div>
    </div>
    <div class="container">




        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    <h2>{{ message }}</h2>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li>
                    <div class="question_containers">
                        <a href="{% url 'polls:detail' question.id %}" class="question_text">{{ question.question_text }}</a>
                        <a href="{% url 'polls:results' question.id %}" class="result_button">Results</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
</body>
</html>
