h1 {
    color: Black;
    font-size: 50px;
    margin-left: 20px
    margin: 0;
}

h2 {
    color: FCE6CA;
    font-size: 40px;
    text-shadow:
        1px 1px 0 #000,  /* Horizontal and vertical shadow with color */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}

h3 {
    color: FCE6CA;
    font-size: 30px;
    text-shadow:
        1px 1px 0 #000,  /* Horizontal and vertical shadow with color */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}

a {
    color: #FCE6CA;
    width: 400px;
}

ul {
    padding: 0;
}

body {
    background: white url("images/new_background.png") no-repeat ;
    background-size: cover;
}

.nav_bar {
    background: #F6CD62;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    padding: 0 20px;
    border: 2px solid #ebad0e;
}

.nav_right {
    display: flex;
    align-items: center;
}

.log_button {
    background-color: #E87A28;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    width: 80px;
    transition: background-color 0.3s ease;
    margin: 20px 0 20px 10px;
}

.log_button:hover {
    background-color: #F5A623;
}


fieldset {
    border: 2px solid #5B5427;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    background-color: #A69056;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
}

.question_containers {
    background: #E87A28;
    text-align: center;
    color: black;
    padding: 20px 5%;
    margin: 20px 25%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert h2 {
    background-color: #FACECE;
    color: red;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    text-shadow: none;
}

.vote_count{
    text-align: center;
}

.vote_confirm {
    background-color: #A69056;
    color: FCE6CA;
    text-align: center;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

td {
    text-align: left;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #F9C7CA;
}

.button {
    background-color: #E87A28;
    border-radius: 8px;
    border-width: 0;
    color: #FCE6CA;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    width: 130px;
}

.button-2 {
    background-color: #e89228;
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    width: 130px;
}

.action-set {
    padding: 15px 0 0 0;
}



